/******
*** FONTS
******/

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@700&display=swap');

/******
*** COMANDI GLOBALE
******/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans', sans-serif;
}


/******
*** TITOLO
******/

h1{
    text-align: center;
    margin-top: 50px;
}

/******
*** CONTENITORE 
******/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.board{
    border: 2px solid black;
}
/******
*** RIGA 
******/

.row{
    font-size: 0;
    height: 80px;
}

/******
*** BLOCCHI DELLA SCACCHIERA  
******/

.row div{
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
    background-color: antiquewhite;
}

.row div span{
    font-size: 1.3rem;
    position: absolute;
}

/******
*** LETTERE SCACCHIERA 
******/

.row:first-of-type div span:first-of-type{
    left: 34px;
    bottom: 80px;
}
.row:last-of-type div span:first-of-type{
    left: 34px;
    top: 80px;
}

/******
*** NUMERO 1 SX E DX 
******/

.row:first-of-type div:first-of-type span:nth-child(2){
    right: 85px;
    top: 30px;
}

.row:first-of-type div:last-of-type span:nth-child(2){
    left: 85px;
    top: 30px;
}

/******
*** NUMERO 8 SX E DX 
******/

.row:last-of-type div:first-of-type span:nth-child(2){
    right: 85px;
    top: 30px;
}

.row:last-of-type div:last-of-type span:nth-child(2){
    left: 85px;
    top: 30px;
}

/******
*** NUMERI SX
******/

.row:nth-child(2) div:first-of-type span, 
.row:nth-child(3) div:first-of-type span,
.row:nth-child(4) div:first-of-type span,
.row:nth-child(5) div:first-of-type span,
.row:nth-child(6) div:first-of-type span,
.row:nth-child(7) div:first-of-type span {
    left: -15px;
    top: 30px;
}

/******
*** NUMERI DX
******/

.row:nth-child(2) div:last-of-type span, 
.row:nth-child(3) div:last-of-type span,
.row:nth-child(4) div:last-of-type span,
.row:nth-child(5) div:last-of-type span,
.row:nth-child(6) div:last-of-type span,
.row:nth-child(7) div:last-of-type span {
    right: -15px;
    top: 30px;
}

/******
*** CDAMBIO COLORE BOX DELLA SCACCHIERA 
******/

.row div:hover {
    background-color: red!important;
}

/******
*** COLORE NERO DELLA SCACCHIERA
******/

.row:nth-child(2n) div:nth-child(2n + 1),
.row:nth-child(2n + 1 ) div:nth-child(2n){
    background-color: black;
}


